/* global */
html {
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	box-sizing: border-box;

	body {
		font-size: $font-size;
	}
}

* {
	&::before,
	&::after {
		box-sizing: inherit;
	}
}

body {
	color: $color-text;
	background-color: $white;
	font-family: $font-family;
	line-height: $line-height;

	@media (min-width: 768px) {
		background-color: $color-bg;
	}
}

a {
	color: $color-link;

	&,
	&:hover {
		text-decoration: none;
	}

	&:hover {
		color: $color-link-hover;
	}
}

// @media (min-width: 768px) {}
// @media (min-width: 970px) {}
// @media (min-width: 1170px) {}
