/* global */
body {
	color: $color-text;
	background-color: $white;
	font-family: $font-family;

	@media (min-width: 544px) {
		background-color: $color-bg;
	}
}

a {
	color: $color-link;

	&:hover {
		color: $color-link-hover;
	}
}

// @media (min-width: 544px) {}
// @media (min-width: 768px) {}
// @media (min-width: 992px) {}
// @media (min-width: 1200px) {}
