/*!
 * account
 * xiewulong <xiewulong@vip.qq.com>
 * create: 2016/8/1
 * since: 0.0.1
 */

body {
	background-color: #1abc9c;
}

.btn {
	border: 0;
	outline: 0;

	&:active {
		box-shadow: none;
	}

	&:focus,
	&.focus {
		&,
		&:active,
		&.active {
			outline: 0;
		}
	}

	&-primary {
		background-color: #1abc9c;
		transition-duration: .25s;

		&:hover,
		&:focus,
		&.focus {
			background-color: #2fe2bf;
		}

		&:active,
		&.active {
			&,
			&:hover,
			&:focus,
			&.focus {
				background-color: #16a085;
			}
		}
	}
}

.form-control {
	height: 46px;
	border: 2px solid transparent;
	border-radius: 6px;
	font-size: 16px;
	box-shadow: none;
	color: #34495e;
	transition-duration: .2s;

	&:focus {
		border-color: #1abc9c;
	}
}

.account-form {
	background-color: #eceff1;
	border-radius: 6px;
	margin-top: 20%;
	padding: 30px;

	h1 {
		color: #16a085;
		font-weight: 700;
		margin-top: 0;
	}

	.form-group {
		overflow: hidden;
		position: relative;

		label.glyphicon {
			position: absolute;
			top: 15px;
			right: 15px;
			font-size: 16px;
			color: #bfc9ca;
		}
	}

	.form-control:focus ~ label.glyphicon {
		color: #1abc9c;
		transition-duration: .25s;
	}
}
